{% extends 'base-settings.html' %}
{% block page_title %}my universities{% endblock %}
{% block heading %}Mira y añade tus universidades{% endblock %}
{% block page_body_content %}
<div>
  <!-- Accordion -->
  <div class="panel-group" ng-controller="EditUniversityCtrl">
    {% for university in universities %}
    <!-- Start Accordion -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-university-{{university.pk}}" ng-click="getUniversity({{university.pk}})" class="collapsed">
            <i class="fa fa-angle-up control-icon"></i>
            <i class="fa fa-university"></i> {{university.name}}
          </a>
        </h4>
      </div>
      <div id="collapse-university-{{university.pk}}" class="panel-collapse collapse">
        {% include 'components/settings/edit-my-university-form.html' %}
      </div>
    </div>
    <!-- End Accordion -->
    {% endfor %}
  </div>
  <!-- End Accordion -->

  <div class="call-action call-action-boxed call-action-style2 no-descripton clearfix">
    <h4 class="primary">Busca una universidad antes de crearla. En caso de no existir, añádela completando los campos
      correspondientes.<br/>Después, selecciona las asignaturas que hayas cursado.
    </h4>
  </div>

  <!-- Accordion -->
  <div class="panel-group" id="accordion">

    <!-- Start Accordion 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4" class="collapsed">
            <i class="fa fa-angle-up control-icon"></i>
            <i class="fa fa-search"></i> Buscar universidad
          </a>
        </h4>
      </div>
      <div id="collapse-4" class="panel-collapse collapse" ng-controller="MyUniversitiesCtrl">
        {% include 'components/settings/select-my-university-form.html' %}
      </div>
    </div>
    <!-- End Accordion 1 -->

    <!-- Start Accordion 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5" class="collapsed">
            <i class="fa fa-angle-up control-icon"></i>
            <i class="fa fa-plus-circle"></i> Crear universidad
          </a>
        </h4>
      </div>
      <div id="collapse-5" class="panel-collapse collapse" ng-controller="CreateUniversityCtrl">
        {% include 'components/settings/create-my-university-form.html' %}
      </div>
    </div>
    <!-- End Accordion 2 -->

  </div>
  <!-- End Accordion -->

</div>
{% endblock %}