{% load staticfiles %}
<!-- Start Footer Section -->
<footer>
  <div class="container">

    <!-- Start Copyright -->
    <div class="copyright-section">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2016 Share Erasmus - All Rights Reserved</p>
        </div>
        <!-- .col-md-6 -->
        <div class="col-md-6">
          <ul class="footer-nav">
<!--            <li><a href="#">Sitemap</a>
            </li>-->
            <li><img src="{% static '/static/shareErasmus/images/footer-shareErasmus.png' %}" class="img-responsive" alt="Footer Logo" />
            </li>
            <li><a href="/privacy_policy">Privacy Policy</a>
            </li>
            <li><a href="/contact">Contact</a>
            </li>
          </ul>

        </div>
        <!-- .col-md-6 -->
      </div>
      <!-- .row -->
    </div>
    <!-- End Copyright -->

  </div>
</footer>
<!-- End Footer Section -->