{% load staticfiles %}
<!-- Start Header Section -->
<div class="hidden-header"></div>
<header class="clearfix" ng-controller="HeaderCtrl">

  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <!-- Start Contact Info -->
          <ul class="contact-details">
            <li><a href=""><i class="fa fa-map-marker"></i> Camino del molino s/n, Fuenlabrada</a>
            </li>
            <li><a href=""><i class="fa fa-envelope-o"></i> m.martinve@alumnos.urjc.es</a>
            </li>
          </ul>
          <!-- End Contact Info -->
        </div>
        <!-- .col-md-6 -->
        <div class="col-md-5">
          <!-- Start Social Links -->
          <ul class="social-list">
            <li>
              <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" target="_blank" href="https://twitter.com/shareerasmus_"><i class="fa fa-twitter"></i></a>
            </li>
          </ul>
          <!-- End Social Links -->
        </div>
        <!-- .col-md-6 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .top-bar -->
  <!-- End Top Bar -->

  <!-- Start  Logo & Naviagtion  -->
  <div class="navbar navbar-default navbar-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand" href="/">
          <img alt="" src="{% static '/static/shareErasmus/images/logo-shareErasmus.png' %}">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <!-- Stat Search
        <div class="search-side">
          <a class="show-search"><i class="fa fa-search"></i></a>
          <div class="search-form">
            <form autocomplete="off" role="search" method="get" class="searchform" action="#">
              <input type="text" value="" name="s" id="s" placeholder="Search the site...">
            </form>
          </div>
        </div>
        <!-- End Search -->
        <!-- Start Navigation List -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a  ng-class="{ active: isActive('/')}" href="/">Inicio</a>
          </li>
          <li>
            <a ng-class="{ active: isActive('/universities')}" href="/universities">Universidades</a>
          </li>
          <li><a ng-class="{ active: isActive('/contact')}" href="/contact">Contacto</a>
          <li ng-show="isAuthenticated">
            <a ng-class="{ active: isActive('/users/{{user.username}}')}"
               href="/users/{% verbatim %}{{user.username}}{% endverbatim %}">{% verbatim %}{{user.username}}{% endverbatim %}</a>
            <ul class="dropdown">
              <li><a href="/settings/account">Mi cuenta</a>
              </li>
              <li><a href="/settings/universities">Mis universidades</a>
              </li>
              <li><a href="/settings/subjects">Mis asignaturas</a>
              </li>
              <li><a href="/settings/cities">Mis ciudades</a>
              </li>
              <li><a href="/logout">Cerrar sesión</a>
              </li>
            </ul>
          </li>
          <li ng-show="!isAuthenticated">
            <a ng-class="{ active: isActive('/sign')}" href="/sign">Iniciar Sesión/Registrarse</a>
          </li>
        </ul>
        <!-- End Navigation List -->
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="wpb-mobile-menu">
      <li>
        <a  ng-class="{ active: isActive('/')}" href="/">Inicio</a>
      </li>
      <li>
        <a ng-class="{ active: isActive('/universities')}" href="/universities">Universidades</a>
      </li>
      <li><a ng-class="{ active: isActive('/contact')}" href="/contact">Contacto</a>
      <li ng-show="isAuthenticated">
        <a href="">{% verbatim %}{{user.username}}{% endverbatim %}</a>
        <ul class="dropdown">
          <li><a href="/settings/account">Mi cuenta</a>
          </li>
          <li><a href="/settings/universities">Mis universidades</a>
          </li>
          <li><a href="/settings/subjects">Mis asignaturas</a>
          </li>
          <li><a href="/settings/cities">Mis ciudades</a>
          </li>
          <li><a href="/logout">Cerrar sesión</a>
          </li>
        </ul>
      </li>
      <li ng-show="!isAuthenticated">
        <a ng-class="{ active: isActive('/sign')}" href="/sign">Iniciar Sesión/Registrarse</a>
      </li>
    </ul>
    <!-- Mobile Menu End -->

  </div>
  <!-- End Header Logo & Naviagtion -->

</header>
<!-- End Header Section -->