<div>
  <form role="form" ng-submit="updateCity()" class="contact-form" id="city-detail-form">
    <div class="form-group well well-lg">
      <label>Añade o modifica la descripción de la ciudad:</label>
      <textarea name="message" rows="7" ng-model="description"></textarea>
      <label>Añade o modifica información sobre alojamiento en la ciudad:</label>
      <textarea name="message" rows="7" ng-model="lodging"></textarea>
      <label>Añade o modifica información sobre precios en la ciudad:</label>
      <textarea name="message" rows="7" ng-model="prices"></textarea>
      <label>Añade o modifica información sobre la climatología en la ciudad:</label>
      <textarea name="message" rows="7" ng-model="weather"></textarea>
      <label>Añade o modifica información sobre el estilo de vida de un estudiante en la ciudad:</label>
      <textarea name="message" rows="7" ng-model="studentLife"></textarea>
      <label>Añade o modifica información sobre monumentos o lugares que visitar:</label>
      <textarea name="message" rows="7" ng-model="culture"></textarea>
      <label>Añade o modifica información sobre la vida nocturna en la ciudad:</label>
      <textarea name="message" rows="7" ng-model="nightlife"></textarea>
      <label>Añade otra información que creas relevante sobre la ciudad:</label>
      <textarea name="message" rows="7" ng-model="informationInterest"></textarea>
      <div class="input-group">
        <button type="submit" class="btn btn-default">Guardar</button>
      </div>
    </div>
  </form>
</div>