{% extends 'base.html' %}
{% block page_title %}Contact{% endblock %}
{% block content %}
<!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Contacta con nosotros</span></h4>
            <h3>Para cualquier duda o sugerencia, envía un correo electrónico a m.martinve@alumnos.urjc.es o
            a través de la cuenta de <a target="_blank" href="https://twitter.com/shareerasmus_">Twitter</a>.</h3>
            <!-- Start Contact Form
            <form role="form" class="contact-form" id="contact-form" method="post">
              <div class="form-group">
                <div class="controls">
                  <input type="text" placeholder="Nombre" name="name">
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <input type="email" class="email" placeholder="Email" name="email">
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <input type="text" class="requiredField" placeholder="Asunto" name="subject">
                </div>
              </div>

              <div class="form-group">

                <div class="controls">
                  <textarea rows="7" placeholder="Mensaje" name="message"></textarea>
                </div>
              </div>
              <button type="submit" id="submit" class="btn-system btn-large">Enviar</button>
              <div id="success" style="color:#34495e;"></div>
            </form>
            <!-- End Contact Form -->

          </div>

          <div class="col-md-4">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Información</span></h4>

            <!-- Some Info
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>-->

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:10px;"></div>

            <!-- Info - Icons List -->
            <ul class="icons-list">
              <li><i class="fa fa-globe">  </i> <strong>Dirección:</strong> Camino del molino s/n, Fuenlabrada</li>
              <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> m.martinve@alumnos.urjc.es</li>
            </ul>

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:15px;"></div>

          </div>

        </div>
      </div>
    </div>
<!-- End content -->
{% endblock %}