{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Inicio{% endblock %}
{% block content %}
  <!-- Start Home Page Slider -->
  <section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
      </ol>
      <!--/ Indicators end-->

      <!-- Carousel inner -->
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive" src="{% static '/static/shareErasmus/images/slider/bg1.jpg' %}" alt="slider">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated2">
                <span>Bienvenido a <strong>Share Erasmus</strong></span>
              </h2>
              <h3 class="animated3">
                <span>Un lugar para la colaboración</span>
              </h3>
                <a class="animated4 slider btn btn-system btn-large btn-min-block" href="/sign">Iniciar Sesión/Registrarse</a>
              </p>
            </div>
          </div>
        </div>
        <!--/ Carousel item end -->
        <div class="item">
          <img class="img-responsive" src="{% static '/static/shareErasmus/images/slider/bg2.jpg' %}" alt="slider">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated4">
                <span><strong>Share Erasmus</strong> te ayuda</span>
              </h2>
              <h3 class="animated5">
                <span>Alumnos Erasmus te aconsejan sobre tu futuro destino europeo</span>
              </h3>
            </div>
          </div>
        </div>
        <!--/ Carousel item end -->
        <div class="item">
          <img class="img-responsive" src="{% static '/static/shareErasmus/images/slider/bg3.jpg' %}" alt="slider">
          <div class="slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated7 white">
                <span>Comienza la experiencia <strong>Erasmus</strong></span>
              </h2>
              <h3 class="animated8 white">
                <span>¿A qué esperas?</span>
              </h3>
              <div class="">
                <a class="animated4 slider btn btn-system btn-large btn-min-block" href="/universities">Ver universidades</a>
              </div>
            </div>
          </div>
        </div>
        <!--/ Carousel item end -->
      </div>
      <!-- Carousel inner end-->

      <!-- Controls -->
      <a class="left carousel-control" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
      </a>
      <a class="right carousel-control" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
      </a>
    </div>
    <!-- /carousel -->

    <!-- Start Services Section -->
    <div class="section service">
      <div class="container">
        <div class="row">

          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn"></div>

          <!-- Start Service Icon 1 -->
          <div class="col-md-6 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
            <div class="service-icon">
              <i class="fa fa-pencil icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Aplicación web colaborativa</h4>
              <p>SHARE ERASMUS se desarrolla gracias a la colaboración de los alumnos de la ETSIT. Son los alumnos los
              encargados de que la información se reproduzca en la web.</p>

            </div>
          </div>
          <!-- End Service Icon 1 -->

          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn"></div>


          <!-- Start Service Icon 2 -->
          <div class="col-md-6 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
            <div class="service-icon">
              <i class="fa fa-university icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Universidades</h4>
              <p>Puedes encontrar universidades europeas que hayan sido creadas por alumnos, o bien crear una universidad.</p>
              <p>En la página de cada universidad aparece información relevante sobre sus ciudades, como lo puede ser
                la información referida a los alojamientos en la ciudad, cómo moverse, dónde divertirse...</p>
            </div>
          </div>
          <!-- End Service Icon 2 -->


          <!-- Start Service Icon 3 -->
          <div class="col-md-6 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="05">
            <div class="service-icon">
              <i class="fa fa-book icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Asignaturas</h4>
              <p>En cada universidad encontrás asignaturas que han cursado los alumnos de la ETSIT. Aparece información
              relevante sobre su dificultad o métodos de evaluación.</p>
            </div>
          </div>
          <!-- End Service Icon 3 -->

          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn"></div>
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn"></div>
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn"></div>
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn"></div>
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn"></div>

          <!-- Start Service Icon 4 -->
          <div class="col-md-6 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="05">
            <div class="service-icon">
              <i class="fa fa-sign-in icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Regístrate</h4>
              <p>Todos los alumnos registrados pueden crear universidades y asignaturas, pueden editar información o añadirla.
                Todo esto es posible a través de las páginas de configuración a las que se accede a través de la barra
                superior, colocando el ratón encima del nombre de usuario.</p>
            </div>
          </div>
          <!-- End Service Icon 4 -->

          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn"></div>

        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- End Services Section -->
  </section>
  <!-- End Home Page Slider -->



{% endblock %}