
{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %} <title>Login</title> {% endblock %}

{% block page_body_content %}
    <!-- Form Module-->
<div class="module form-module">
    <div class="toggle">
        <i class="fa fa-times fa-pencil"></i>
    </div>
    <div class="form">
        <h2>Acceder</h2>
        <form>
            <input type="text" placeholder="Nombre de usuario"/>
            <input type="password" placeholder="Contraseña"/>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="form">
      <h2>Crear una cuenta</h2>
      <form method="POST">
          {% csrf_token %}
            <input type="text" name="username" placeholder="Nombre de usuario"/>
            <input type="email" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Contraseña"/>
            <input type="password" placeholder="Repetir contraseña"/>
            <button type="submit" name="sign-in">Crear cuenta</button>
      </form>
    </div>
    <div class="cta"><a href="">¿Olvidaste la contraseña?</a></div>
</div>
<script type="text/javascript" src="{% static '/static/shareErasmus/js/loginForm.js' %}"></script>
{% endblock %}