{% extends 'base-pages.html' %}
{% load staticfiles %}
{% block page_title %}{{subject.name}}{% endblock %}
{% block page_body_content %}
<!-- Start Page Banner -->
<div class="page-banner" style="padding:40px 0; background: url(../../../static/shareErasmus/images/slide-02-bg.jpg) center #f9f9f9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{subject.name}}</h2>
        <p>{{subject.university}}</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a href="/">Inicio</a></li>
          <li><a href="/universities">Universidades</a></li>
          <li><a href="/universities/{{subject.university.pk}}">{{subject.university}}</a></li>
          <li>{{subject.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Banner -->

<!-- Start Content -->
<div id="content" ng-controller="SubjectDetailCtrl">
  <div class="container">
    <div class="row blog-post-page">
      <div class="col-md-9 blog-box">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Número de créditos:  <strong>{% verbatim %}{{subject.credits_ects}}{% endverbatim %}</strong></span></h4>

        <div class="subject-detail">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Descripción de la asignatura</span></h4>
          <!-- Single Testimonial -->
          <div class="classic-testimonials">
            <div class="subject-detail-information-boxed university-detail-information  no-descripton clearfix">
              <p ng-bind-html="subject.description|textToHtml"></p>
              <a href="/settings/subjects">
                <i class="fa fa-edit"></i> Editar
              </a>
            </div>
          </div>
        </div>

        <div class="subject-detail">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Convalidaciones</span></h4>
          <!-- Start Call Action -->
          <div class="call-action subject-detail-information-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            <p ng-bind-html="subject.validation_subjects|textToHtml"></p>
            <!-- Call Action Button -->
            <a href="/settings/subjects">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <!-- Start Comment Area -->
        <div id="comments">
          <h2 class="comments-title">(4) Comentarios</h2>
          <ol class="comments-list">
            <li>
              <div class="comment-box clearfix">
                <div class="avatar"><img alt="" src="{% static '/static/shareErasmus/images/nophoto.png' %}" /></div>
                <div class="comment-content">
                  <div class="comment-meta">
                    <span class="comment-by">John Doe</span>
                    <span class="comment-date">February 15, 2013 at 11:39 pm</span>
                    <span class="reply-link"><a href="#">Responder</a></span>
                  </div>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia desrut mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                </div>
              </div>

              <ul>
                <li>
                  <div class="comment-box clearfix">
                    <div class="avatar"><img alt="" src="{% static '/static/shareErasmus/images/nophoto.png' %}" /></div>
                    <div class="comment-content">
                      <div class="comment-meta">
                        <span class="comment-by">John Doe</span>
                        <span class="comment-date">February 15, 2013 at 11:39 pm</span>
                        <span class="reply-link"><a href="#">Responder</a></span>
                      </div>
                      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    </div>
                  </div>

                  <ul>
                    <li>
                      <div class="comment-box clearfix">
                        <div class="avatar"><img alt="" src="images/avatar.png" /></div>
                        <div class="comment-content">
                          <div class="comment-meta">
                            <span class="comment-by">John Doe</span>
                            <span class="comment-date">February 15, 2013 at 11:39 pm</span>
                            <span class="reply-link"><a href="#">Responder</a></span>
                          </div>
                          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                        </div>
                      </div>
                    </li>
                  </ul>

                </li>
              </ul>
            </li>

            <li>
              <div class="comment-box clearfix">
                <div class="avatar"><img alt="" src="images/avatar.png" /></div>
                <div class="comment-content">
                  <div class="comment-meta">
                    <span class="comment-by">John Doe</span>
                    <span class="comment-date">February 15, 2013 at 11:39 pm</span>
                    <span class="reply-link"><a href="#">Responder</a></span>
                  </div>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia desrut mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                </div>
              </div>
            </li>

          </ol>

          <!-- Start Respond Form -->
          <div id="respond">
            <h2 class="respond-title">Deja tu comentario</h2>
            <form role="form" ng-submit="saveComment()" class="contact-form" id="comment-subject-form">
              <div class="row">
                <div class="col-md-12">
                  <label for="comment-subject">Comentario</label>
                  <textarea id="comment-subject" name="comment" ng-model="commentBody" cols="45" rows="8" aria-required="true"></textarea>
                  <input name="submit" type="submit" id="submit" value="Enviar">
                </div>
              </div>
            </form>
          </div>
          <!-- End Respond Form -->

        </div>
        <!-- End Comment Area -->

      </div>


      <!-- Sidebar -->
      <div class="col-md-3 sidebar right-sidebar">


        <!-- Categories Widget -->
        <div class="widget widget-categories">
          <h4 class="classic-title"><span>Alumnos</span></h4>
          <ul>
            <li ng-repeat="student in students">
              <a href="/users/{% verbatim %}{{student.username}}{% endverbatim %}">{% verbatim %}{{student.username}}{% endverbatim %}</a>
            </li>
          </ul>
        </div>

      </div>
      <!--End sidebar-->


    </div>

  </div>
</div>
<!-- End content -->

{% endblock %}