{% extends 'base-pages.html' %}
{% block page_title %}{{university.name}}{% endblock %}
{% block page_body_content %}
<!-- Start Page Banner -->
<div class="page-banner" style="padding:40px 0; background: url(../../../static/shareErasmus/images/slide-02-bg.jpg) center #f9f9f9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{university.name}}</h2>
        <p>{{university.city}}</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a href="/">Inicio</a></li>
          <li><a href="/universities">Universidades</a></li>
          <li>{{university.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Banner -->

<!-- Start Content -->
<div id="content" ng-controller="UniversityDetailCtrl">
  <div class="container">
    <div class="row sidebar-page">
      <!--Left Page Content-->
      <div class="col-md-4 page-content">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Información general</span></h4>
        <div class="item-table highlight-plan">
          <div class="plan-list">
            <ul>
              <li><strong>Ciudad</strong> {{university.city}}</li>
              <li><strong>País</strong> {{university.city.country}}</li>
<!--              <li><strong>X</strong> Estudiantes</li>-->
              <li><strong>Localización:</strong></li>
              <div id="university-detail-{{university.pk}}-map" class="university-detail-map"></div>
            </ul>
          </div>
        </div>

        <div class="university-detail">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Descripción de la universidad</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-information-boxed university-detail-information no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in description %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/universities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div class="university-detail">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Contactos en la universidad</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-information-boxed university-detail-information no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in contacts %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/universities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        </div>
      <!--End left Page Content-->

      <!-- Center Page Content -->
      <div class="col-md-6 page-content">

        <div class="university-detail-subjects">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Asignaturas</span></h4>
          <!-- Start Subjects -->
          <div class="university-detail-subjects-list">
          {% for subject in subjects %}
            <div class="call-action university-detail-subject-boxed university-detail-subject no-descripton clearfix">
              <div class="button-side"><a href="/universities/{{university.pk}}/{{subject.pk}}" class="btn-system border-btn btn-medium">Ver</a></div>
              <h2 class="primary">{{subject.name}}</h2>
            </div>
          {% endfor %}
          </div>
          <!-- End Subjects -->
        </div>

        <div class="university-detail">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Convalidaciones de asignaturas</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-information-boxed university-detail-information no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in validation_subjects %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/universities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

      </div>
      <!-- End Center Page Content-->

      <!--Right Page Content-->
      <div class="col-md-2 sidebar right-sidebar">

        <!-- Categories Widget -->
        <div class="widget widget-categories">
          <h4 class="classic-title"><span><a href="#city-about">Sobre la ciudad</a></span></h4>
          <ul>
            <li>
              <a href="#city-description">Descripción general</a>
            </li>
            <li>
              <a href="#city-lodging">Alojamientos</a>
            </li>
            <li>
              <a href="#city-transport">Transporte</a>
            </li>
            <li>
              <a href="#city-prices">Precios</a>
            </li>
            <li>
              <a href="#city-mobile-phone">Telefonía móvil</a>
            </li>
            <li>
              <a href="#city-weather">El clima</a>
            </li>
            <li>
              <a href="#city-student-life">Vida estudiantil</a>
            </li>
            <li>
              <a href="#city-nightlife">Salir por la noche</a>
            </li>
            <li>
              <a href="#city-bank-account">Cuentas bancarias</a>
            </li>
            <li>
              <a href="#city-restaurants">Dónde comer</a>
            </li>
            <li>
              <a href="#city-shopping">Dónde comprar</a>
            </li>
            <li>
              <a href="#city-culture">Cultura</a>
            </li>
            <li>
              <a href="#city-tourism">Turismo fuera de la ciudad</a>
            </li>
            <li>
              <a href="#city-information-interest">Otra información de interés</a>
            </li>
          </ul>
        </div>

      </div>
      <!--End right Page Content-->
    </div>

    <!--City information-->
    <div class="row sidebar-page">
      <!-- Classic Heading -->
      <h2 id="city-about" class="classic-title university-city-title"><span>Sobre la ciudad</span></h4>
      <div class="col-md-5 page-content">

        <div id="city-description" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Descripción general de la ciudad</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.description %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-transport" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Transporte</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.transport %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-weather" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>El clima</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.weather %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-nightlife" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Salir por la noche</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.nightlife %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-bank-account" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Cuentas bancarias</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.bank_account %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-shopping" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Dónde comprar</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.shopping %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-tourism" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Turismo fuera de la ciudad</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.tourism %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>
      </div>

      <div class="col-md-5 page-content">

        <div id="city-lodging" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Alojamientos</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.lodging %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-prices" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Precios</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.prices %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-mobile-phone" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Telefonía móvil</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.mobile_phone %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-student-life" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Vida estudiantil</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.student_life %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-restaurants" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Dónde comer</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.restaurants %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-culture" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Cultura</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.culture %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

        <div id="city-information-interest" class="university-detail-city">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Otra información de interés</span></h4>
          <!-- Start Call Action -->
          <div class="call-action university-detail-city-boxed call-action-style1 no-descripton clearfix">
            <!-- Call Action Text -->
            {% for paragraph in info_city.information_interest %}
            <p>- {{paragraph}}</p>
            {% endfor %}
            <!-- Call Action Button -->
            <a href="/settings/cities">
              <i class="fa fa-edit"></i> Editar
            </a>
          </div>
          <!-- End Call Action -->
        </div>

      </div>

      <div class="col-md-2 sidebar right-sidebar">

      </div>
    </div>

    <div class="row blog-post-page">
      <div class="col-md-12 blog-box">

        <!-- Start Comment Area
        <div id="comments">
          <h2 class="comments-title">(4) Comentarios</h2>
          <ol class="comments-list">
            <li>
              <div class="comment-box clearfix">
                <div class="avatar"><img alt="" src="images/avatar.png" /></div>
                <div class="comment-content">
                  <div class="comment-meta">
                    <span class="comment-by">John Doe</span>
                    <span class="comment-date">February 15, 2013 at 11:39 pm</span>
                    <span class="reply-link"><a href="#">Responder</a></span>
                  </div>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia desrut mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                </div>
              </div>

              <ul>
                <li>
                  <div class="comment-box clearfix">
                    <div class="avatar"><img alt="" src="images/avatar.png" /></div>
                    <div class="comment-content">
                      <div class="comment-meta">
                        <span class="comment-by">John Doe</span>
                        <span class="comment-date">February 15, 2013 at 11:39 pm</span>
                        <span class="reply-link"><a href="#">Responder</a></span>
                      </div>
                      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    </div>
                  </div>

                  <ul>
                    <li>
                      <div class="comment-box clearfix">
                        <div class="avatar"><img alt="" src="images/avatar.png" /></div>
                        <div class="comment-content">
                          <div class="comment-meta">
                            <span class="comment-by">John Doe</span>
                            <span class="comment-date">February 15, 2013 at 11:39 pm</span>
                            <span class="reply-link"><a href="#">Responder</a></span>
                          </div>
                          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                        </div>
                      </div>
                    </li>
                  </ul>

                </li>
              </ul>
            </li>

            <li>
              <div class="comment-box clearfix">
                <div class="avatar"><img alt="" src="images/avatar.png" /></div>
                <div class="comment-content">
                  <div class="comment-meta">
                    <span class="comment-by">John Doe</span>
                    <span class="comment-date">February 15, 2013 at 11:39 pm</span>
                    <span class="reply-link"><a href="#">Responder</a></span>
                  </div>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia desrut mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                </div>
              </div>
            </li>

          </ol>

          <!-- Start Respond Form
          <div id="respond">
            <h2 class="respond-title">Deja tu comentario</h2>
            <form action="#">
              <div class="row">
                <div class="col-md-4">
                  <label for="author">Nombre<span class="required">*</span></label>
                  <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                </div>
                <div class="col-md-4">
                  <label for="email">Email<span class="required">*</span></label>
                  <input id="email" name="author" type="text" value="" size="30" aria-required="true">
                </div>
                <div class="col-md-4">
                  <label for="url">Website<span class="required">*</span></label>
                  <input id="url" name="url" type="text" value="" size="30" aria-required="true">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label for="comment">Comentario</label>
                  <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                  <input name="submit" type="submit" id="submit" value="Enviar">
                </div>
              </div>
            </form>
          </div>
          <!-- End Respond Form

        </div>
        <!-- End Comment Area -->

      </div>

    </div>
  </div>
</div>
<!-- End Content -->

{% endblock %}