{% extends 'base-pages.html' %}
{% block page_title %}{{university.name}}{% endblock %}
{% block page_body_content %}
<!-- Start Page Banner -->
<div class="page-banner" style="padding:40px 0; background: url(../../../static/shareErasmus/images/slide-02-bg.jpg) center #f9f9f9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{university.name}}</h2>
        <p>{{university.city}}</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a href="/">Inicio</a></li>
          <li><a href="/universities">Universidades</a></li>
          <li>{{university.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Banner -->

<!-- Start Content -->
<div id="content" ng-controller="UniversitiesCtrl">
  <div class="container">
    <div class="row sidebar-page">
      <!--Left Page Content-->
      <div class="col-md-3 page-content">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Información general</span></h4>
        <div class="item-table highlight-plan">
          <div class="plan-list">
            <ul>
              <li><strong>Ciudad</strong> {{university.city}}</li>
              <li><strong>País</strong> {{university.city.country}}</li>
              <li><strong>X</strong> Estudiantes</li>
            </ul>
          </div>
        </div>

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Cultura</span></h4>
        <!-- Start Call Action -->
        <div class="call-action call-action-boxed call-action-style1 no-descripton clearfix">
          <!-- Call Action Text -->
          <p>Lugar de interés 1</p>
          <p>Lugar de interés 2</p>
          <p>Lugar de interés 3</p>
          <p>Lugar de interés 4</p>
          <!-- Call Action Button -->
          <a href="#">+Editar</a>
        </div>
        <!-- End Call Action -->

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Vida estudiantil</span></h4>
        <!-- Start Call Action -->
        <div class="call-action call-action-boxed call-action-style1 no-descripton clearfix">
          <!-- Call Action Text -->
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
          <p>At vero eos et accusamus et iusto odio dignissimos</p>
          <p>At vero eos et accusamus</p>
          <!-- Call Action Button -->
          <a href="#">+Editar</a>
        </div>
        <!-- End Call Action -->

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Alojamientos</span></h4>
        <!-- Start Call Action -->
        <div class="call-action call-action-boxed call-action-style1 no-descripton clearfix">
          <!-- Call Action Text -->
          <p>alojamiento 1</p>
          <p>alojamiento 2</p>
          <p>alojamiento 3</p>
          <p>alojamiento 4</p>
          <!-- Call Action Button -->
          <a href="#">+Editar</a>
        </div>
        <!-- End Call Action -->

        </div>
      <!--End left Page Content-->

      <!-- Center Page Content -->
      <div class="col-md-6 page-content">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Asignaturas</span></h4>
        <!-- Start Subject -->
        {% for subject in subjects %}
        <div class="call-action call-action-boxed call-action-style2 no-descripton clearfix">
          <div class="button-side"><a href="/universities/{{university.pk}}/{{subject.pk}}" class="btn-system border-btn btn-medium">Ver</a></div>
          <h2 class="primary">{{subject.name}}</h2>
        </div>
        {% endfor %}
        <!-- End Subject -->


        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Turismo</span></h4>
        <!-- Start Call Action -->
        <div class="call-action call-action-boxed call-action-style1 no-descripton clearfix">
          <!-- Call Action Text -->
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
          <!-- Call Action Button -->
          <a href="" data-toggle="modal" data-target="#myModal">+Editar</a>
        </div>
        <!-- End Call Action -->
        <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default">Guardar</button>
        </div>
      </div>

    </div>
  </div>

      </div>
      <!-- End Center Page Content-->

      <!--Right Page Content-->
      <div class="col-md-3 sidebar right-sidebar">

        <!-- Categories Widget -->
        <div class="widget widget-categories">
          <h4 class="classic-title"><span>Información de la ciudad</span></h4>
          <ul>
            <li>
              <a href="#">Descripción general</a>
            </li>
            <li>
              <a href="#">Enlaces de interés</a>
            </li>
            <li>
              <a href="#">Alojamientos</a>
            </li>
            <li>
              <a href="#">Vida estudiantil</a>
            </li>
            <li>
              <a href="#">Turismo</a>
            </li>
            <li>
              <a href="#">Salir</a>
            </li>
            <li>
              <a href="#">Cultura</a>
            </li>
            <li>
              <a href="#">Recomendaciones</a>
            </li>
            <li>
              <a href="#">Precios</a>
            </li>
            <li>
              <a href="#">Tiempo</a>
            </li>
          </ul>
        </div>

        <!-- Tags Widget -->
        <div class="widget widget-tags">
          <h4 class="classic-title"><span>Información de la ciudad</span></h4>
          <div class="tagcloud">
            <a href="#">Descripción general</a>
            <a href="#">Enlaces de interés</a>
            <a href="#">Alojamientos</a>
            <a href="#">Vida estudiantil</a>
            <a href="#">Turismo</a>
            <a href="#">Salir</a>
            <a href="#">Cultura</a>
            <a href="#">Recomendaciones</a>
            <a href="#">Precios</a>
            <a href="#">Tiempo</a>
          </div>
        </div>

      </div>
      <!--End right Page Content-->

    </div>
  </div>
</div>
<!-- End Content -->

{% endblock %}