{% extends 'base.html' %}
{% block page_title %}Access denied{% endblock %}
{% block content %}
<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="error-page">
        <h1>403</h1>
        <h3>Página no autorizada</h3>
        <p>No seas pillo, no tienes permiso para acceder a esta página.</p>
        <div class="text-center"><a href="/" class="btn-system btn-small">Volver a la página principal</a></div>
        <div class="text-center"><a href="/sign" class="btn-system btn-small">Iniciar sesión/Registrarse</a></div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
{% endblock %}