{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Share Erasmus">
    <meta name="author" content="Marcos Martín Vedriel">
    
{% block head %}{% endblock %}

    <link href="{% static '/static/shareErasmus/css/main.less' %}" media="all" rel="stylesheet/less" type="text/css"/>

    <!--Javascript-->
    <!--less-2.5.1-->
    <script type="text/javascript" src="{% static '/static/shareErasmus/js/less-2.5.1.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/static/shareErasmus/js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/shareErasmus/js/jquery-ui.min.js' %}"></script>    
    <script type="text/javascript" src="{% static '/static/shareErasmus/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/shareErasmus/lib/responsee-all/js/responsee.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/shareErasmus/lib/bootstrap-star-rating-master/js/star-rating.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/shareErasmus/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/shareErasmus/js/loginForm.js' %}"></script>

</head>
<body class="col-md-12 container">
    <!-- HEADER -->
    <header>
        {% include 'topBar.html' %}
    </header>
    <section class="">
        {% include 'login.html' %}
        {% block page_body_content %}{% endblock %}
    </section>
    <!-- FOOTER -->
    <footer class="">
    </footer>
    
</body>
</html>