{% extends 'base.html' %}
{% block page_title %}{% endblock %}
{% block content %}
<!-- Start Content -->
<div id="content" ng-controller="SettingsCtrl">
  <div class="container">
    <div class="row sidebar-page">
      <!--Sidebar-->
      <div class="col-md-3 sidebar left-sidebar">

        <!-- Categories Widget -->
        <div class="widget widget-categories menu-settings">
          <h4>Configuración <span class="head-line"></span></h4>
          <ul>
            <li>
              <a ng-class="{ active: isActive('/settings/account')}" href="/settings/account">Cuenta</a>
            </li>
<!--            <li>
              <a href="#">Contraseña</a>
            </li>-->
            <li>
              <a ng-class="{ active: isActive('/settings/universities')}" href="/settings/universities">Mis universidades</a>
            </li>
            <li>
              <a ng-class="{ active: isActive('/settings/subjects')}" href="/settings/subjects">Mis asignaturas</a>
            </li>
            <li>
              <a ng-class="{ active: isActive('/settings/cities')}" href="/settings/cities">Mis ciudades</a>
            </li>
          </ul>
        </div>

      </div>
      <!--End sidebar-->
      <!-- Page Content -->
      <div class="col-md-9 page-content">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>{% block heading %}{% endblock %}</span></h4>

        {% block page_body_content %}{% endblock %}

        <!-- Divider -->
        <div class="hr5" style="margin-top:30px; margin-bottom:45px;"></div>
      </div>
      <!-- End Page Content-->
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock %}