{% extends 'base.html' %}
{% block page_title %}Privacy policy{% endblock %}
{% block content %}
<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <h1>Política de privacidad</h1>
      <h4>
          Datos personales
      </h4>
      <p>
        Los datos personales proporcionados por el usuario (nombre, apellidos, correo electrónico) podrán ser visible por el resto de personas que visiten este sitio web.
      </p>
<!--      <h1>Política de privacidad</h1>
      <p>
      Este Aviso sobre privacidad describe los procedimientos que seguimos para recopilar, utilizar, divulgar, conservar y proteger tus datos personales. Se aplica a todo sitio de esta página web donde aparezca este Aviso sobre privacidad en el pie de página y a toda aplicación, servicio o herramienta de realacionada (en conjunto "Servicios") donde se haga referencia a este Aviso sobre privacidad, sea cual sea la forma de acceso o de uso, incluido el acceso y el uso mediante dispositivos móviles.
      </p>

      <p>
      Al utilizar nuestros Servicios o registrar una cuenta con nosotros, aceptas las condiciones de este Aviso sobre privacidad y nuestras Condiciones de uso ; asimismo, aceptas que recopilemos, utilicemos, divulguemos, conservemos y protejamos tus datos personales conforme a lo expuesto en este Aviso sobre privacidad. Si no proporcionas la información que necesitamos, es posible que no podamos proporcionarte todos nuestros Servicios.
      </p>

      <h4>
          Datos personales
      </h4>

      <p>
      "Datos personales" son información que puede ser asociada con una persona determinada y que se podría utilizar para identificarla a partir de dichos datos por sí solos o en combinación con cualquier otra información a la que se pueda tener acceso. Los datos personales no incluyen información que se haya anonimizado o agregado de forma que ya no se pueda utilizar para identificar a una persona concreta, ya sea combinándola con otros datos o de otra manera.

      </p>

      <h4>Cambios en este Aviso sobre privacidad</h4>

      <p>
      Podemos modificar este Aviso sobre privacidad en cualquier momento publicando los términos modificados en este sitio. Todas las condiciones que se modifiquen entrarán en vigor automáticamente 30 días después de su publicación. Anunciaremos todos los cambios materiales que se hagan en este Aviso sobre privacidad mediante correo electrónico.
      </p>-->
    </div>
  </div>
</div>
<!-- End Content -->
{% endblock %}