{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<title>Login</title> 
	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="{% static '/static/shareErasmus/css/loginForm.css' %}">
	
{% endblock %}

{% block page_body_content %}
	<!-- Form Module-->
<div class="module form-module">
  	<div class="toggle">
  		<i class="fa fa-times fa-pencil"></i>
  	</div>
  	<div class="form">
    	<h2>Acceder</h2>
    	<form>
      	<input type="text" placeholder="Nombre de usuario"/>
      	<input type="password" placeholder="Contraseña"/>
      	<button>Login</button>
    	</form>
  	</div>
  	<div class="form">
    	<h2>Crear una cuenta</h2>
    	<form>
      	<input type="text" placeholder="Nombre de usuario"/>
      	<input type="password" placeholder="Contraseña"/>
      	<input type="email" placeholder="Email"/>
      	<button>Crear cuenta</button>
    	</form>
  	</div>
  	<div class="cta"><a href="">¿Olvidaste la contraseña?</a></div>
</div>
    
<script type="text/javascript" src="{% static '/static/shareErasmus/js/loginForm.js' %}"></script>

{% endblock %}