<div class="item-table highlight-plan">
  <div class="plan-name">
    <h3>{{university.name}}</h3>
  </div>
  <div class="plan-price">
    <div class="price-value"><span></span></div>
  </div>
  <div class="plan-list">
    <ul>
      <li><strong>{{university.city}}</strong></li>
      <li><strong>{{university.country}}</strong></li>
      <li><strong>10</strong> Estudiantes</li>
    </ul>
  </div>
  <div class="plan-signup">
    <a href="#" class="btn-system btn-small border-btn">Visitar</a>
  </div>
</div>

