{% load staticfiles %}
<div class="line">
            <div class="box">
               <div class="s-6 l-2">
                  <img src="{% static '/static/shareErasmus/lib/responsee-all/img/logo.png' %}">
               </div>
            </div>
         </div>
         <!-- TOP NAV -->  
         <div class="line">
            <nav class="margin-bottom">
               <p class="nav-text">Custom menu text</p>
               <div class="top-nav s-12 l-10">
                  <ul>
                     <li><a>Home</a></li>
                     <li>
                        <a>Product</a>
                        <ul>
                           <li><a>Product 1</a></li>
                           <li><a>Product 2</a></li>
                           <li>
                              <a>Product 3</a>
                              <ul>
                                 <li><a>Product 3-1</a></li>
                                 <li><a>Product 3-2</a></li>
                                 <li><a>Product 3-3</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a>Company</a>
                     </li>
                     <li><a>Contact</a></li>
                  </ul>
               </div>
               <div class=" hide-s l-2">
                  <i class="icon-facebook_circle icon2x right padding"></i>
               </div>
            </nav>
         </div>